<%include ./partials/boilerplate %>
    <h1> Jeopardize ME!: Bond/Dot com Edition</h1>
   <button>Get Questions!</button>
   <a href="../jeopardize/questions-add"> <button type="submit">create question</button></a>
<% include ./partials/footer %>