<% include ../partials/boilerplate.ejs %>
<form method="POST" action="/">
  <input name="question" type="text" placeholder="Question" />
  <input name="answer" type="text" placeholder="Answer" />
  <input name="value" type="integer" placeholder="value" />
  <input name="category_id" type="integer" placeholder="cat" />
  <input type="submit" value="Add please!" />
</form>

<% include ../partials/footer.ejs %>
