<% include ../partials/boilerplate.ejs %>
<form method="POST" action="/ <%= data.id %>?_method=PUT"> //new 
  <input name="question" type="text" placeholder="Question" />
  <input name="answer" type="text" placeholder="Answer" />
  <input name="value" type="integer" placeholder="value" />
  

  <input type="submit" value="Add fix!" />
</form>

<% include ../partials/footer.ejs %>